/* COLORS */
$color-primary: #0398fc;
$color-secondary: #ffffff;
$color-text: #1f1f1f;
$color-nav-bg: rgb(0 0 0 / 100%);
$color-nav-text: #ffffff;
$color-disabled: #929292;

/* COLORS */
$margin-bottom: 1em;