/* COLORS */
$color-primary: #0398fc;
$color-secondary: #ffffff;
$color-text: #1f1f1f;
$color-nav-bg: rgb(0 0 0 / 100%);
$color-nav-text: #ffffff;
$color-disabled: #929292;

/* MARGINS */
$margin-bottom: 1em;

/* COLORS */

$color-success: #14a44d;
$color-warning: #e4a11b;
$color-danger: #dc4c64;
$color-info: #54b4d3;