/* Colors */

$color-primary: #82b440;
$color-secondary: #ffffff;
$color-text: #1f1f1f;
$color-nav-bg: rgb(0 0 0 / 100%);
$color-nav-text: #ffffff;
$color-disabled: #9e9d9d;

/* Icons */

$color-success: #14a44d;
$color-warning: #e4a11b;
$color-danger: #dc4c64;
$color-info: #54b4d3;

/* Links */

$color-link-default: #0000ee;
$color-link-visited: #551a8b;

/* Typography */

$font-family: "Open Sans", sans-serif;
$line-height-headlines: 1.4em;
$line-height-text: 1.65em;

/* Margins */

$margin-bottom: 1em;