@use "_config.scss" as config;

/* COLORS */

.color-primary {
    color: config.$color-primary;
}

.color-secondary {
    color: config.$color-secondary;
}

.color-text {
    color: config.$color-text;
}

/* grey */

.color-disabled {
    color: config.$color-disabled;
}

/* green */

.color-success {
    color: config.$color-success;
}

/* yellow */

.color-warning {
    color: config.$color-warning;
}

/* red */

.color-danger {
    color: config.$color-danger;
}

/* blue */

.color-info {
    color: config.$color-info;
}

/* TYPOGRAPHY */

.text-uppercase {
    text-transform: uppercase !important;;
}

.text-center {
    text-align: center;
}

.bold {
    font-weight: 700 !important;
}

.italic {
    font-style: italic !important;
}

.skew {
    margin-top: -0.5rem !important;
    transform: rotate(-3deg);
}

/* TRANSPARENT BACKGROUND OVERLAY */

.opacity-dark {
    background-color: config.$opacity-dark;
    color: config.$color-nav-text;
}

.opacity-light {
    background-color: config.$opacity-light;
    color: config.$color-text;
}

/* PADDING */

.pt-3 {
    padding-top: 3rem;
}


/* GRID */

.grid-default {
    display: grid;
    grid-gap: 2em;
    grid-template-columns: repeat(3, 1fr);
}

/* ALIGN */

.relative {
    position: relative;
}

.width-100 {
    width: 100%;
}

.height-100 {
    height: 100%;
}

.center-vh {
    left: 50%;
    margin: 0;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
}

.center-v {
    margin: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}