@use "_config.scss" as config;

/* COLORS */

.color-primary {
    color: config.$color-primary;
}

.color-secondary {
    color: config.$color-secondary;
}

.color-text {
    color: config.$color-text;
}

/* grey */

.color-disabled {
    color: config.$color-disabled;
}

/* green */

.color-success {
    color: config.$color-success;
}

/* yellow */

.color-warning {
    color: config.$color-warning;
}

/* red */

.color-danger {
    color: config.$color-danger;
}

/* blue */

.color-info {
    color: config.$color-info;
}

/* TYPOGRAPHY */

.text-uppercase {
    text-transform: uppercase !important;;
}

.bold {
    font-weight: 700 !important;
}

.italic {
    font-style: italic !important;
}

.skew {
    margin-top: -0.5rem !important;
    transform: rotate(-3deg);
}

/* TRANSPARENT BACKGROUND OVERLAY */

.opacity-dark {
    background-color: config.$opacity-dark;
    color: config.$color-nav-text;
}

.opacity-light {
    background-color: config.$opacity-light;
    color: config.$color-primary;
}

/* PADDINGS */

.pt-3 {
    padding-top: 3rem;
}


/* GRID */

.grid-default {
    display: grid;
    grid-gap: 2em;
    grid-template-columns: repeat(3, 1fr);
}