@use "_config.scss" as config;

/* Basic */

@media ( width <= 1280px ) {

    #logo {
        display: none;
    }

    .grid-default {
        grid-gap: 2em;
        grid-template-columns: repeat(2, 1fr);
    }
}