@use "_config.scss" as config;

/* Basic */

body {
    background: transparent;
}

body.loading * {
    animation: none !important;
    transition: none !important;
}

body, input, select, textarea {
    color: config.$color-text;
    font-family: config.$font-family;
    font-weight: 300;
}

body, p, li, input, select, textarea {
    font-size: 14pt;
    line-height: config.$line-height-text;
}

h1, h2, h3, h4, h5, h6 {
    color: inherit;
    font-weight: 700;
    line-height: config.$line-height-headlines;
    margin-bottom: config.$margin-bottom;
}

h2 {
    font-size: 1.5em;
}

h3 {
    font-size: 1.25em;
}

a {
    color: config.$color-link-default;
    text-decoration: underline;
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
    color: inherit;
    text-decoration: none;
}

a:visited {
    color: config.$color-link-visited;
}

.a-color-text a {
    color: config.$color-text;
}

strong, b {
    font-weight: 700;
}

em, i {
    font-style: italic;
}

dl, table {
    margin: 0 0 2em;
}

p {
    line-height: 1.5em;
    margin-bottom: config.$margin-bottom;
}

p.medium {
    font-size: 1.4em;
}


sub {
    font-size: 0.8em;
    position: relative;
    top: 0.5em;
}

sup {
    font-size: 0.8em;
    position: relative;
    top: -0.5em;
}

hr {
    border: 0;
    border-top: solid 1px config.$color-primary;
    margin-bottom: 1.5em;
}

section.special, article.special {
    text-align: center;
}

header.major {
    text-align: center;
    text-transform: uppercase;
}

header.major h2 {
    font-size: 2.6em;
    font-weight: 700;
}

header.major .byline {
    display: block;
    font-size: 1.4em;
    letter-spacing: 1px;
    margin-bottom: config.$margin-bottom * 2;
}

footer > :last-child {
    margin-bottom: 0;
}

footer.major {
    padding-top: 3em;
}

/* Form */

input[type = "email"],
input[type = "password"],
input[type = "text"],
textarea {
    appearance: none;
    background: none;
    border: solid 1px config.$color-primary;
    color: inherit;
    display: block;
    outline: 0;
    padding: 0.75em;
    text-decoration: none;
    width: 100%;
}

input[type = "text"]:focus,
input[type = "password"]:focus,
input[type = "email"]:focus,
textarea:focus {
    border-color: config.$color-primary;
}

input[type = "email"],
input[type = "password"],
input[type = "text"] {
    line-height: 1em;
}

:input-placeholder,
::input-placeholder,
:placeholder,
::placeholder {
    color: inherit;
    opacity: 0.5;
}

::input-placeholder {
    position: relative;
    top: 3px;
}

.formerize-placeholder {
    color: rgb(85 85 85 / 50%) !important;
}

/* Image */

.image {
    border: 0;
    position: relative;
}

.image.fit {
    display: block;
}

.image.fit img {
    display: block;
    width: 100%;
}

.image.feature {
    display: block;
    margin: 0 0 2em;
}

.image.feature img {
    display: block;
    width: 100%;
}

/* Icon */

.icon {
    position: relative;
}

.icon:before {
    content: "";

    /* stylelint-disable-next-line font-family-no-missing-generic-family-keyword */
    font-family: FontAwesome;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-style: normal;
    font-weight: normal;
    text-transform: none !important;
}

.button.icon:before {
    margin-right: 0.5em;
}

.icon > .label {
    display: none;
}

/* Lists */

ul,
ol {
    list-style-position: outside;
    padding: 0;
}

ul,
ul.default {
    list-style-type: disc;
    margin: 0 0 1em 1.23em;
}

ol,
ol.default {
    list-style-type: decimal;
    margin: 0 0 1em 1.1em;
}


ul li,
ol li,
ul.default li,
ol.default li {
    padding-bottom: 0.75em;
    padding-left: 0.35em;
}

ul ul,
ol ol {
    margin-bottom: 0;
    padding-bottom: 0;
}

ul ul li,
ol ol li {
    padding-bottom: 0;
}

ul ul li {
    list-style-type: disc;
}

ol ol li {
    list-style-type: lower-latin;
}

ul.actions,
ul.icons,
ul.special-icons {
    cursor: default;
    list-style-type: none;
    margin: 0;
    margin-bottom: config.$margin-bottom * 2;
}

ul.icons li {
    display: inline-block;
    line-height: 1em;
    padding: 0.5em 1em;
}

ul.icons li span {
    display: none;
}

ul.icons li a {
    color: inherit;
    font-size: 2em;
    opacity: 0.35;
    text-decoration: none;
    transition: all 0.25s ease-in-out;
}

ul.icons li a:hover {
    color: inherit;
    opacity: 1;
}

ul.actions li {
    display: inline-block;
}

ul.actions li:first-child {
    padding: 0;
}

ul.actions:last-child {
    margin-bottom: 0;
}

ul.actions.vertical li {
    display: block;
    padding: 1.5em 0 0;
}

ul.actions.vertical li:first-child {
    padding: 0;
}

ul.special-icons {
    margin: 0;
    padding: 0 0 0 1.35em;
}

ul.special-icons li {
    margin-bottom: config.$margin-bottom * 1;
    padding: 0;
    padding-left: 1.40em;
    position: relative;
    vertical-align: top;
    width: 100%;
}

ul.special-icons li:before {
    border-radius: 5px;
    display: block;
    font-size: 2em;
    left: 0;
    position: absolute;
    top: 2em;
}

ul.special-icons span {
    display: inline-block;
    font-size: 1.35em;
    left: -0.5em;
    line-height: 190%;
    overflow: hidden;
    position: absolute;
    top: -0.28em;
    width: 1.4em;
}

ul.special-icons h3 {
    font-size: 1.2em;
    margin-bottom: 1em;
}

ul.special-icons h3,
ul.special-icons h3 a,
ul.special-icons h3 a:visited {
    color: config.$color-text;
    display: block;
    font-weight: 700;
    text-transform: uppercase;
}

ul.special-icons p {
    margin: 0;
}

/* Tables */

table {
    width: 100%;
}

table.default {
    width: 100%;
}

table.default tbody tr {
    border-bottom: solid 1px config.$color-primary;
}

table.default td {
    padding: 0.5em 1em;
}

table.default th {
    font-weight: 700;
    padding: 0.5em 1em;
    text-align: left;
}

table.default thead {
    background: #555555;
    color: config.$color-secondary;
}

/* Button */

input[type = "submit"],
input[type = "reset"],
input[type = "button"],
.button {
    appearance: none;
    background: none;
    border: 2px solid;
    border-color: config.$color-primary;
    border-radius: none;
    color: config.$color-primary;
    cursor: pointer;
    display: inline-block;
    font-size: 1.4em;
    font-weight: 300;
    letter-spacing: 1px;
    padding: 0.90em 1.2em;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    transition: all 0.35s ease-in-out;
}

input[type = "submit"]:visited,
input[type = "reset"]:visited,
input[type = "button"]:visited,
.button:visited {
    color: config.$color-primary;
}

input[type = "submit"]:hover,
input[type = "reset"]:hover,
input[type = "button"]:hover,
.button:hover {
    background: config.$color-primary;
    color: config.$color-secondary;
}

input[type = "submit"].alt,
input[type = "reset"].alt,
input[type = "button"].alt,
.button.alt {
    border-color: inherit;
    color: inherit;
}

input[type = "submit"].alt:hover,
input[type = "reset"].alt:hover,
input[type = "button"].alt:hover,
.button.alt:hover {
    background: config.$color-secondary;
    color: config.$color-primary;
}

input[type = "submit"].fit,
input[type = "reset"].fit,
input[type = "button"].fit,
.button.fit {
    width: 100%;
}

small,
input[type = "submit"].small,
input[type = "reset"].small,
input[type = "button"].small,
.button.small {
    font-size: 0.8em;
}

/* Wrapper */

.wrapper {
    padding: 5em 0 4em;
}

.wrapper.style1 {
    padding: 0;
}

.wrapper.style1 #header h1 {
    margin: 0;
}

.wrapper.style2,
.wrapper.evenpart {
    background: config.$color-bg-primary;
}

.wrapper.style2 .major,
.wrapper.evenpart .major {
    text-align: left !important;
}

.wrapper.style2 .major h2,
.wrapper.evenpart .major h2 {
    display: block;
    font-size: 1.8em;
    font-weight: 400;
    letter-spacing: 1px;
    margin-bottom: 0.70em;
    text-transform: uppercase;
}

.wrapper.style2 .major .byline,
.wrapper.evenpart .major .byline {
    font-size: 1.4em;
    letter-spacing: normal;
    line-height: config.$line-height-headlines;
    text-transform: capitalize;
}

.wrapper.style2 h3,
.wrapper.evenpart h3 {
    display: block;
    font-size: 1.6em;
    font-weight: 400;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.wrapper.style3,
.wrapper.cta {
    background: config.$color-primary;
    color: config.$color-secondary;
    padding-bottom: 6em;
    text-align: center;
}

.wrapper.style3 .container,
.wrapper.cta .container {
    padding-left: 6em;
    padding-right: 6em;
}

.wrapper.style3 p,
.wrapper.cta p {
    font-size: 1.6em;
}

.wrapper.style4,
.wrapper.plain {
    background: config.$color-bg-primary;
}

.wrapper.style5,
.wrapper.portals {
    background: config.$color-primary;
    color: config.$color-secondary;
    text-align: center;
}

.wrapper.style5 .image,
.wrapper.portals .image {
    display: block;
    margin: 0 auto 2em;
    width: 60%;
}

.wrapper.style5 .image img,
.wrapper.portals .image img {
    border: 10px solid;
    border-color: config.$color-secondary;
    border-radius: 50%;
}

/* Header */

#header {
    background-color: config.$color-nav-bg;
    color: config.$color-secondary;
    height: 4em;
    width: 100%;
}

#header .container {
    position: relative;
}

#logo {
    color: config.$color-secondary;
    font-size: 2em;
    font-weight: 400;
    letter-spacing: 2px;
    line-height: 2em;
    text-transform: uppercase;
}

#logo h1 {
    display: inline-block;
    margin: 0;
    padding: 0;
}

#nav {
    position: absolute;
    right: 0;
    top: 0;
}

#nav > ul {
    margin: 0;
}

#nav > ul > li {
    border-radius: 4px;
    display: inline-block;
    margin-left: 0.5em;
    padding: 0 0.5em;
}

#nav > ul > li a {
    color: inherit;
    font-size: 1em;
    font-weight: 400;
    letter-spacing: 2px;
    line-height: 4em;
    text-decoration: none;
    text-transform: uppercase;
}

#nav > ul > li:first-child {
    margin-left: 0;
}

#nav > ul > li.active a {
    color: config.$color-secondary;
}

#nav > ul > li > ul {
    display: none;
}

/* Dropotron */

.dropotron {
    background: config.$color-nav-bg;
    border-radius: 4px;
    color: config.$color-secondary;
    list-style-type: none;
    margin: 0;
    min-width: 12em;
    padding: 1em 0;
    top: 2em;
}

.dropotron > li {
    line-height: 2em;
    padding: 0 1em;
}

.dropotron > li > a {
    color: inherit;
    letter-spacing: 2px;
    text-decoration: none;
    text-transform: none;
}

.dropotron > li.active > a, .dropotron > li:hover > a {
    color: inherit;
}

.dropotron.level-0 {
    border-radius: 0 0 4px 4px;
    font-size: 1em;
    margin-left: -0.5em;
}

/* Banner */

#banner {
    background-color: config.$color-disabled;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    color: config.$color-nav-text;
    height: 24em;
    overflow: hidden;
}

#banner .container h2 {
    background-color: config.$color-primary;
    display: inline-block;
    font-size: 2.4em;
    font-weight: 400;
    line-height: 0.5em;
    margin: 0;
    padding: 0.5em 0.3em;
    text-transform: uppercase;
}

#banner .container .follower, #banner .container .blurb {
    font-size: 1.2em;
    font-weight: 300;
    letter-spacing: 1px;
    margin: 1em 0;
    padding: 0.25em 1.3em;
}

#banner .container .follower {
    display: inline-block;
}

#banner .container .blurb {
    display: inline-block;
}

/* Main */

#main {
    padding: 4em 0;
}

#main #content .major, #main #sidebar .major {
    text-align: left;
}

#main #sidebar section {
    margin-top: 4em;
}

#main #sidebar section:first-child {
    margin-top: 0;
}

#main #sidebar .major {
    padding-bottom: 2em;
}

#main #sidebar .major h2 {
    font-size: 1.8em;
}

/* Extra */

#extra h2 {
    display: block;
    font-size: 1.8em;
    font-weight: 400;
    letter-spacing: 1px;
    text-transform: uppercase;
}

#extra h3 {
    display: block;
    font-size: 1.6em;
    font-weight: 400;
    letter-spacing: 1px;
    text-transform: uppercase;
}

/* Footer */

#footer {
    background-color: config.$color-bg-secondary;
    color: config.$color-nav-text;
    padding: 6em 0 2em;
    text-align: center;
}

#footer hr {
    border-bottom: 1px solid;
    border-color: inherit;
    opacity: 0.05;
}

#footer .major h2 {
    color: inherit;
}

#footer .major .byline,
#copyright {
    color: inherit;
    opacity: 0.6;
}

#footer .copyright {
    margin-top: 3em;
    text-align: center;
}

/* Copyright */

#copyright {
    padding: 3em 0;
    position: relative;
    text-align: center;
    text-transform: none;
}

#copyright a {
    color: inherit;
    text-decoration: none;
}

/* Team */

#team h3 {
    font-weight: 700;
    letter-spacing: 2px;
    margin-bottom: 0.50em;
    text-transform: uppercase;
}