@use "_config.scss" as config;

/* Basic */
@media ( width <= 840px ) {

    #skel-layers-wrapper {
        padding-top: 44px;
    }

    body, p, li, input, select, textarea {
        font-size: 13pt;
        line-height: 1.5em;
    }

    .small { 
        font-size: 90%; 
    }

    .normal { 
        font-size: 1.1em;
    }

    .align-left-md {
        text-align: left;
    }

    header.major h2 {
        font-size: 1.8em;
    }

    header.major .byline {
        font-size: 1.1em;
    }

    .wrapper.style2 p,
    .wrapper.style3 p {
        line-height: 1.4em;
    }

    /* List */ 

    ul.actions,
    ul.icons,
    ul.special-icons {
        padding-bottom: 0;
    }

    .grid-default {
        grid-template-columns: repeat(config.$grid-columns-md);
    }

    /* Button */

    input[type = "submit"],
    input[type = "reset"],
    input[type = "button"],
    .button {
        display: block;
        margin: 0 auto;
        max-width: 350px;        
        width: 100%;
    }

    .wrapper.style2 .major h2,
    .wrapper.evenpart .major h2 {
        font-size: 1.4em;
    }

    .wrapper.style2 .major .byline,
    .wrapper.evenpart .major .byline {
        font-size: 1.1em;
    }

    .wrapper.style2 h3,
    .wrapper.evenpart h3 {
        font-size: 1.2em;
    }

    .wrapper.style3 .container,
    .wrapper.cta .container {
        padding-left: 1em;
        padding-right: 1em;
    }

    .wrapper.style3 p,
    .wrapper.cta p {

        /* font-size: 1.1em; */
    }

    .wrapper.style4,
    .wrapper.plain {
        padding-bottom: 2em;
    }

    .wrapper.style5,
    .wrapper.portals {
        padding-bottom: 4em;
    }

    .wrapper.style5 img,
    .wrapper.portals img {
        width: 30%;
    }

    /* Header */

    #header {
        display: none;
    }

    /* Layers */

    #titleBar {
        background-color: config.$color-nav-bg;
        height: 44px;
        line-height: 44px;
    }

    #titleBar .title {
        color: config.$color-nav-text;
        display: block;
        font-size: 1.3em;
        font-weight: 700;
        letter-spacing: 2px;
        line-height: 44px;
        position: relative;
        text-align: center;
        text-transform: uppercase;
        z-index: 1;
    }

    #titleBar .toggle {
        height: 60px;
        left: 0;
        position: absolute;
        top: 0;
        width: 80px;
        z-index: 2;
    }

    #titleBar .toggle:before {
        background: url("../../images/icon_hamburger.svg") center center no-repeat;
        background-size: 28px 28px;
        content: "";
        display: block;
        font-style: normal;
        font-weight: normal;
        height: 44px;
        line-height: 44px;
        text-align: center;
        text-transform: none !important;
        width: 44px;
    }

    #titleBar .toggle:after {
        content: "";
        display: block;
        height: 13px;
        left: 10px;
        opacity: 0.75;
        position: absolute;
        top: 15px;
        width: 20px;
    }

    #navPanel {
        background: config.$color-nav-bg;

        /* hack to enable mobile menu scrolling on android chromium */
        border-top: 5px solid transparent;
        -webkit-overflow-scrolling: touch;
    }

    #navPanel .link {
        border-bottom: solid 1px config.$color-nav-border;
        color: config.$color-nav-link;
        display: block;
        line-height: 1.5rem;
        min-height: 44px;
        padding: 0.6rem;
        text-decoration: none;
    }

    #navPanel .link.depth-0 {
        color: config.$color-nav-text;
    }

    #navPanel .link.depth-1 {
        padding-left: 1.4rem;

    }

    #navPanel .link.depth-2 {
        padding-left: 2.3rem;

    }

    /* Banner */

    #banner {
        color: config.$color-nav-text;
        text-align: center;
        text-transform: uppercase;
    }

    #banner h2 {
        font-size: 1.8em;
        padding: 0.50em;
    }

    #banner span, #banner p {
        font-size: 1.1em;
    }

    #banner span {
        padding: 1em 0;
    }
}