{% extends 'partials/base.html.twig' %}

{% block banner %}
	{% include 'partials/banner.html.twig' %}
{% endblock banner %}

{% block body %}
<!-- Main -->
	<div id="main" class="wrapper style4 plain">

		<!-- Content -->
		<div id="content" class="container">
			<section>
				{% include 'partials/heading.html.twig' %}

				<h1>{{ 'PLUGIN_ERROR.ERROR'|t|e }} {{ header.http_response_code }}</h1>

				{% set sitemap = pages.find('/sitemap') %}
				{{ page.content|replace({'%SITEMAP%': '<a href="' ~ sitemap.url ~ '">' ~ sitemap.title ~ '</a>'})|t|raw }}

			</section>
		</div>
	</div>

{% endblock body %}