{% extends 'partials/base.html.twig' %}

{% block banner %}
	{% include 'partials/banner.html.twig' %}
{% endblock banner %}

{% block body %}
{% set delimiter = '<hr />' %}

	<!-- Main -->
	<div id="main" class="wrapper style4 plain">
		<div class="container">
			<div class="row">

				{% if page.header.sidebar.position|lower  == 'left' %}
					<div id="sidebar" class="4u">
						{% include 'modular/links.html.twig' %}
					</div>
				{% endif %}

				<!-- Content besides Sidebar -->
				<div id="content" class="8u skel-cell-important">
					<section>
						{% include 'partials/heading.html.twig' %}
						{{ page.content|split(delimiter)[0]|raw }}
					</section>
				</div>

				{% if page.header.sidebar.position|lower  == 'right' %}
					<div id="sidebar" class="4u">
						{% include 'modular/links.html.twig' %}
					</div>
				{% endif %}

				<!-- Content below Sidebar -->
				<div id="content" class="12u">
					<section>
						{{ page.content|split('<hr />')|slice(1)|join('<hr />')|raw }}
					</section>
				</div>

			</div>
		</div>
	</div>

{% endblock body %}
