@font-face {
    font-display: block;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    src: url('open-sans-v36-latin-300.woff2') format('woff2'); 
  }

@font-face {
    font-display: block;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: url('open-sans-v36-latin-regular.woff2') format('woff2');
}

@font-face {
    font-display: block;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    src: url('open-sans-v36-latin-700.woff2') format('woff2');
}