{% if page.header.banner %}
<!-- Banner -->
	<div id="banner" style="background-image:url('{{ (base_url) ~ "/" ~ page.header.banner.url }}')">
		<section class="container">
			<h2>{{ page.header.banner.headline }}</h2>
			{% if page.header.banner.follower %}
			<div>
				<span>{{ page.header.banner.follower }}</span>
			<div>	
			{% endif %}
			{% if page.header.banner.blurb %}
			<div>
				<p>{{ page.header.banner.blurb }}</p>
			</div>
			{% endif %}
		</section>
	</div>
{% endif %}