@use "_config.scss" as config;

/* BLOCKQUOTE */

blockquote {
    border-left: solid 0.5em config.$color-primary;
    font-style: italic;
    margin: 0 0 config.$margin-bottom * 2.5;
    padding: 1em 0 1em 2em;
}

blockquote p {
    margin: 0;
    padding: 0;
}

/* ICONS */

.icons.alt {
    color: config.$color-primary;
}

.icons.icons-all {
    color: config.$color-text;

    li {
        display: inline-block;
        text-align: center;
    }

    .fa {
        font-size: 1.8em;
    }
}

/* PRE */

code {
    border: solid 1px config.$color-text;
    font-family: "Courier New", monospace;
    font-size: 0.9em;
    margin: 0 0.25em;
    padding: 0.16em 0.65em;
}

pre {
    font-family: "Courier New", monospace;
    font-size: 0.9rem;
    margin: 0 0 2rem;
    -webkit-overflow-scrolling: touch;
}

pre code {
    display: block;
    line-height: 1.75em;
    overflow-x: auto;
    padding: 1rem 1.5rem;
}