@use "_config.scss" as config;

/* Basic */

@media ( width <= 1280px ) {

    #logo {
        display: none;
    }

    #banner {
        height: 22.5em;
    }

    .grid-default {
        grid-template-columns: repeat(config.$grid-columns-lg);
    }
}