{
  "extends": "stylelint-config-standard-scss",
  "plugins": [
		"stylelint-codeguide",
    "stylelint-order"
	],
  "rules": {
      "indentation": 4,
      "string-quotes": "double",
      "no-duplicate-selectors": null,
      "color-hex-case": "lower",
      "color-hex-length": "long",
      "color-named": "never",
      "selector-combinator-space-after": "always",
      "selector-attribute-quotes": "always",
      "selector-attribute-operator-space-before": "always",
      "selector-attribute-operator-space-after": "always",
      "selector-attribute-brackets-space-inside": "never",
      "declaration-block-trailing-semicolon": "always",
      "declaration-colon-space-before": "never",
      "declaration-colon-space-after": "always",
      "number-leading-zero": "always",
      "function-url-quotes": "always",
      "font-family-name-quotes": "always-where-recommended",
      "comment-whitespace-inside": "always",
      "comment-empty-line-before": "always",
      "rule-empty-line-before": "always",
      "selector-class-pattern": "",
      "selector-id-pattern": "",
      "selector-pseudo-element-colon-notation": "single",
      "selector-pseudo-class-no-unknown": null,
      "selector-pseudo-class-parentheses-space-inside": "always",
      "selector-pseudo-element-no-unknown": null,
      "media-feature-range-operator-space-before": "always",
      "media-feature-range-operator-space-after": "always",
      "media-feature-parentheses-space-inside": "always",
      "media-feature-colon-space-before": "never",
      "media-feature-colon-space-after": "always",
      "no-descending-specificity": null,
      "order/properties-alphabetical-order": true,
      "scss/load-no-partial-leading-underscore": null
  }
}