@use "sass:color";

/* BACKGROUND */

$color-bg-primary: #eeeeee;
$color-bg-secondary: #222222;

/* COLORS */

/* PRIMARY COLORS
   536b33 dark olive green
   0d3d50 midnight blue
   26626c metallic blue
   623523 irish coffee brown
   894b2b chestnut brown
*/

$color-primary: #26626c;
$color-secondary: #eeeeee;
$color-text: #1f1f1f;
$color-nav-bg: #000000;
$color-nav-text: #f2f2f2;
$color-nav-link: color.adjust($color-nav-text, $lightness: - 27%);
$color-nav-border: color.adjust($color-nav-bg, $lightness: + 15%);
$color-disabled: #9e9d9d;

/* ICONS */

$color-success: #14a44d;
$color-warning: #e4a11b;
$color-danger: #dc4c64;
$color-info: #54b4d3;

/* LINKS */

$color-link-default: #0000ee;
$color-link-visited: #551a8b;

/* TYPOGRAPHY */

$font-family: "Open Sans", sans-serif;
$line-height-headlines: 1.4em;
$line-height-text: 1.65em;

/* MARGINS */

$margin-bottom: 1em;

/* GRID */
$grid-gap: 2em;
$grid-columns-xl: 3, 1fr;
$grid-columns-lg: 1, 1fr;
$grid-columns-md: 1, 1fr;

/* TRANSPARENT BACKGROUND OVERLAY */

$opacity-dark: rgb(0 0 0 / 80%);
$opacity-light: rgb(255 255 255 / 80%);
