@use "_config.scss" as config;

/* Basic */
@media ( width <= 640px ) {

    #banner {
        height: 23.5em;
    }

    header.major h2 {
        font-size: 1.6em;
    }

    header.major .byline {
        font-size: 1.1em;
    }

    .wrapper {
        padding: 4em 0 2em;
    }

    .wrapper.style2,
    .wrapper.evenpart {
        padding-bottom: 3em;
        padding-top: 3em;
    }

    .wrapper.style4 p,
    .wrapper.plain p {
        margin-bottom: 1em;
    }

    .wrapper.style5 img,
    .wrapper.portals img {
        width: 70%;
    }

    /* Lists */

    ul.icons li a {
        font-size: 1.6em;
    }

    ul.special-icons li {
        margin-bottom: config.$margin-bottom * 2;
    }

    .grid-default {
        grid-gap: 0;
        grid-template-columns: repeat(1, 1fr);
    }

    /* Main */

    #main #sidebar .major h2 {
        font-size: 1.6em;
    }
}